workflows/apify-scraper.json
{
  "name": "Apify Newsletter Scraper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "apify-scraper",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "apify-scraper"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.body.feedIds?.length > 0 || $json.body.scrapeAll === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-valid",
      "name": "Valid Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.EMBER_API_URL || 'http://app:3000' }}/api/n8n/feeds",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.EMBER_N8N_API_KEY }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "newsletter,complex"
            },
            {
              "name": "ids",
              "value": "={{ $json.body.feedIds?.join(',') || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-feeds",
      "name": "Get Feeds to Scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.feeds?.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-feeds",
      "name": "Has Feeds?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 200]
    },
    {
      "parameters": {
        "fieldToSplitOut": "feeds",
        "options": {}
      },
      "id": "split-feeds",
      "name": "Split Feeds",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1130, 100]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "batch-feeds",
      "name": "Max 10 Feeds",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1350, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~cheerio-scraper/runs",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startUrls\": [{ \"url\": \"{{ $json.url }}\" }],\n  \"pageFunction\": \"async function pageFunction(context) {\\n    const { $, request, log } = context;\\n    const articles = [];\\n    \\n    // Generic article extraction\\n    $('article, .post, .entry, [class*=\\\"article\\\"]').slice(0, 10).each((i, el) => {\\n      const $el = $(el);\\n      const title = $el.find('h1, h2, h3, [class*=\\\"title\\\"]').first().text().trim();\\n      const link = $el.find('a').first().attr('href');\\n      const date = $el.find('time, [class*=\\\"date\\\"]').first().text().trim();\\n      const snippet = $el.find('p, [class*=\\\"excerpt\\\"], [class*=\\\"summary\\\"]').first().text().trim();\\n      \\n      if (title && link) {\\n        articles.push({\\n          title,\\n          url: link.startsWith('http') ? link : new URL(link, request.url).href,\\n          publishedAt: date || new Date().toISOString(),\\n          description: snippet\\n        });\\n      }\\n    });\\n    \\n    return articles;\\n  }\",\n  \"proxyConfiguration\": { \"useApifyProxy\": false },\n  \"maxConcurrency\": 1,\n  \"maxRequestRetries\": 2\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "apify-run",
      "name": "Run Apify Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1570, 100],
      "onError": "continueErrorOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Apify API Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-1",
      "name": "Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1790, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}/dataset/items",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 60000
        }
      },
      "id": "apify-results",
      "name": "Get Apify Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2010, 100],
      "onError": "continueErrorOutput",
      "credentials": {
        "httpHeaderAuth": {
          "name": "Apify API Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize Apify results to common schema\nconst items = $input.all();\nconst normalized = [];\n\nfor (const item of items) {\n  const data = item.json;\n  const articles = Array.isArray(data) ? data : [data];\n  \n  for (const article of articles) {\n    if (!article.title || !article.url) continue;\n    \n    normalized.push({\n      title: article.title || '',\n      url: article.url || '',\n      description: article.description || article.snippet || '',\n      source: 'newsletter',\n      feedId: article.feedId || null,\n      publishedAt: article.publishedAt || article.date || new Date().toISOString(),\n      author: article.author || null,\n      imageUrl: article.imageUrl || null,\n      tags: [],\n      score: null\n    });\n  }\n}\n\nreturn normalized;"
      },
      "id": "normalize",
      "name": "Normalize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2230, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Deduplicate articles by URL\nconst items = $input.all();\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of items) {\n  const url = item.json.url;\n  if (url && !seen.has(url)) {\n    seen.add(url);\n    unique.push(item.json);\n  }\n}\n\nreturn unique;"
      },
      "id": "deduplicate",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMBER_API_URL || 'http://app:3000' }}/api/n8n/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.EMBER_N8N_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"source\": \"apify\",\n  \"workflowId\": \"{{ $execution.workflow.id }}\",\n  \"articles\": {{ JSON.stringify($input.all().map(i => i.json)) }}\n}"
      },
      "id": "http-ingest",
      "name": "Push to Ember Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 100],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Apify scraper completed\",\n  \"articlesFound\": {{ $input.all().length }},\n  \"executionId\": \"{{ $execution.id }}\"\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2890, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"No feeds to scrape\",\n  \"executionId\": \"{{ $execution.id }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-no-feeds",
      "name": "No Feeds Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Invalid request. Provide feedIds array or scrapeAll flag.\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-invalid",
      "name": "Invalid Request Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 400]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $env.ERROR_REPORTER_WORKFLOW_ID || 'error-reporter' }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "call-error-reporter",
      "name": "Report Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1790, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Valid Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Request?": {
      "main": [
        [
          {
            "node": "Get Feeds to Scrape",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Request Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feeds to Scrape": {
      "main": [
        [
          {
            "node": "Has Feeds?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Feeds?": {
      "main": [
        [
          {
            "node": "Split Feeds",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Feeds Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Feeds": {
      "main": [
        [
          {
            "node": "Max 10 Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max 10 Feeds": {
      "main": [
        [
          {
            "node": "Run Apify Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Apify Scraper": {
      "main": [
        [
          {
            "node": "Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Wait": {
      "main": [
        [
          {
            "node": "Get Apify Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Apify Results": {
      "main": [
        [
          {
            "node": "Normalize Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Results": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Push to Ember Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Ember Feed": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
