workflows/feed-health-check-enhanced.json
{
  "name": "Feed Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.EMBER_API_URL || 'http://host.docker.internal:3002' }}/api/n8n/feeds?status=failing,quarantined",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.EMBER_N8N_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-failing",
      "name": "Get Failing Feeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Check if we have failing feeds to test\nconst data = $input.first().json;\nconst feeds = data.feeds || [];\n\nif (feeds.length === 0) {\n  return [{ json: { \n    _route: 'no_feeds', \n    status: 'no_failing_feeds',\n    message: 'No failing feeds to check',\n    timestamp: new Date().toISOString()\n  } }];\n}\n\n// Return feeds for individual testing\nreturn feeds.map(feed => ({ \n  json: { \n    ...feed,\n    _route: 'test_feed'\n  } \n}));"
      },
      "id": "check-feeds",
      "name": "Check Failing Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "http-test",
      "name": "Test Feed URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Analyze test results and prepare updates\nconst items = $input.all();\nconst results = [];\nconst toRecover = [];\nconst stillFailing = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Skip if this was the 'no feeds' path\n  if (data._route === 'no_feeds') {\n    return [{ json: data }];\n  }\n  \n  const statusCode = data.statusCode || 0;\n  const isSuccess = statusCode >= 200 && statusCode < 400;\n  \n  const result = {\n    feedId: data.id,\n    feedName: data.name,\n    feedUrl: data.url,\n    testResult: isSuccess ? 'recovered' : 'still_failing',\n    statusCode: statusCode,\n    testedAt: new Date().toISOString()\n  };\n  \n  results.push(result);\n  \n  if (isSuccess) {\n    toRecover.push(result);\n  } else {\n    stillFailing.push(result);\n  }\n}\n\nreturn [{\n  json: {\n    _route: 'results',\n    results: results,\n    toRecover: toRecover,\n    stillFailing: stillFailing,\n    summary: {\n      total: results.length,\n      recovered: toRecover.length,\n      stillFailing: stillFailing.length\n    }\n  }\n}];"
      },
      "id": "analyze",
      "name": "Analyze Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Update recovered feeds back to active status\nconst input = $input.first().json;\n\nif (input._route === 'no_feeds') {\n  return [{ json: input }];\n}\n\nconst toRecover = input.toRecover || [];\nconst apiUrl = $env.EMBER_API_URL || 'http://host.docker.internal:3002';\n\n// Note: In production, we'd make PATCH calls here to update feed status\n// For now, we'll prepare the update payloads\nconst updates = toRecover.map(feed => ({\n  feedId: feed.feedId,\n  update: {\n    status: 'active',\n    consecutiveFailures: 0,\n    lastHealthCheck: new Date().toISOString()\n  }\n}));\n\nreturn [{\n  json: {\n    ...input,\n    updatesApplied: updates.length,\n    updates: updates\n  }\n}];"
      },
      "id": "update-recovered",
      "name": "Update Recovered Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Prepare final summary report\nconst input = $input.first().json;\n\nif (input._route === 'no_feeds') {\n  return [{ json: {\n    status: 'complete',\n    message: input.message,\n    feedsChecked: 0,\n    recovered: 0,\n    stillFailing: 0,\n    timestamp: input.timestamp\n  } }];\n}\n\nconst summary = input.summary || { total: 0, recovered: 0, stillFailing: 0 };\n\nreturn [{\n  json: {\n    status: 'complete',\n    feedsChecked: summary.total,\n    recovered: summary.recovered,\n    stillFailing: summary.stillFailing,\n    updatesApplied: input.updatesApplied || 0,\n    details: input.results || [],\n    timestamp: new Date().toISOString(),\n    executionId: $execution.id\n  }\n}];"
      },
      "id": "summarize",
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "content": "## Feed Health Check Workflow (Enhanced)\n\nRuns every 6 hours to check if failing/quarantined feeds have recovered.\n\n**Features:**\n- Tests failing feeds with HEAD requests\n- Auto-recovers feeds that respond successfully\n- Updates feed status in database\n- Tracks health check history\n\n**Flow:**\n1. Get feeds with status 'failing' or 'quarantined'\n2. Test each feed URL (15s timeout)\n3. Analyze results (recovered vs still failing)\n4. Update recovered feeds to 'active' status\n5. Generate summary report",
        "width": 350,
        "height": 240
      },
      "id": "note-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 20]
    },
    {
      "parameters": {
        "content": "**Schedule Trigger**\n\nRuns every 6 hours. More frequent checks during incidents.",
        "width": 200,
        "height": 100
      },
      "id": "note-schedule",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 420]
    },
    {
      "parameters": {
        "content": "**Get Failing Feeds**\n\nFetches feeds marked as failing or quarantined from API.",
        "width": 200,
        "height": 100
      },
      "id": "note-get",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [420, 420]
    },
    {
      "parameters": {
        "content": "**Test Feed URL**\n\nHEAD request with 15s timeout. Allows self-signed certs.",
        "width": 200,
        "height": 100
      },
      "id": "note-test",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [860, 420]
    },
    {
      "parameters": {
        "content": "**Analyze & Update**\n\nClassifies results and updates recovered feeds back to active.",
        "width": 200,
        "height": 100
      },
      "id": "note-analyze",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1300, 420]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get Failing Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Failing Feeds": {
      "main": [
        [
          {
            "node": "Check Failing Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Failing Feeds": {
      "main": [
        [
          {
            "node": "Test Feed URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Feed URL": {
      "main": [
        [
          {
            "node": "Analyze Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Results": {
      "main": [
        [
          {
            "node": "Update Recovered Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Recovered Feeds": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
