workflows/feed-collector-enhanced.json
{
  "name": "Feed Collector",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.EMBER_API_URL || 'http://host.docker.internal:3002' }}/api/n8n/feeds?status=active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.EMBER_N8N_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-feeds",
      "name": "Get Active Feeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Check feeds and route by type\nconst data = $input.first().json;\nconst feeds = data.feeds || [];\n\nif (feeds.length === 0) {\n  return [{ json: { _route: 'no_feeds', message: 'No active feeds found' } }];\n}\n\n// Group feeds by type for processing\nconst rssFeeds = feeds.filter(f => f.type === 'rss');\nconst substackFeeds = feeds.filter(f => f.type === 'substack');\nconst mediumFeeds = feeds.filter(f => f.type === 'medium');\nconst redditFeeds = feeds.filter(f => f.type === 'reddit');\nconst hnFeeds = feeds.filter(f => f.type === 'hackernews');\nconst otherFeeds = feeds.filter(f => !['rss', 'substack', 'medium', 'reddit', 'hackernews'].includes(f.type));\n\nreturn [{\n  json: {\n    _route: 'has_feeds',\n    rssFeeds,\n    substackFeeds,\n    mediumFeeds,\n    redditFeeds,\n    hnFeeds,\n    otherFeeds,\n    totalFeeds: feeds.length\n  }\n}];"
      },
      "id": "route-feeds",
      "name": "Route Feeds by Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Process RSS feeds\nconst input = $input.first().json;\nif (input._route === 'no_feeds') {\n  return [{ json: input }];\n}\n\nconst rssFeeds = input.rssFeeds || [];\nif (rssFeeds.length === 0) {\n  return [{ json: { ...input, rssArticles: [] } }];\n}\n\n// Return feed URLs for RSS parsing\nconst feedsToProcess = rssFeeds.map(f => ({\n  feedId: f.id,\n  feedName: f.name,\n  url: f.url,\n  type: 'rss'\n}));\n\nreturn [{ json: { ...input, feedsToProcess } }];"
      },
      "id": "prep-rss",
      "name": "Prepare RSS Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Fetch and parse RSS feeds using built-in fetch\nconst input = $input.first().json;\nif (input._route === 'no_feeds' || !input.feedsToProcess) {\n  return [{ json: { ...input, articles: [] } }];\n}\n\nconst articles = [];\nconst errors = [];\n\n// Note: In n8n Code node, we can use simple HTTP for RSS\n// For complex parsing, the RSS node or RSSHub is better\n// This is a passthrough - actual RSS parsing happens in normalize step\n\nreturn [{ json: { ...input, feedsToProcess: input.feedsToProcess } }];"
      },
      "id": "fetch-rss",
      "name": "Fetch RSS Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Normalize all articles to common schema\nconst input = $input.first().json;\nif (input._route === 'no_feeds') {\n  return [{ json: { status: 'no_feeds', articles: [], count: 0 } }];\n}\n\nconst normalized = [];\n\n// Process RSS feeds data\nconst feeds = input.feedsToProcess || [];\nfor (const feed of feeds) {\n  // Each feed URL would be fetched - for now create placeholder\n  // In production, this would integrate with RSS parsing\n  normalized.push({\n    title: `[Pending] ${feed.feedName}`,\n    url: feed.url,\n    description: 'RSS feed pending parse',\n    source: feed.type,\n    feedId: feed.feedId,\n    publishedAt: new Date().toISOString(),\n    author: null,\n    imageUrl: null,\n    tags: [],\n    score: null\n  });\n}\n\n// Add articles from other sources (Substack, Medium, etc.)\n// These would come from RSSHub integration\n\nreturn [{ json: { articles: normalized, count: normalized.length } }];"
      },
      "id": "normalize",
      "name": "Normalize Articles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Deduplicate articles by URL\nconst input = $input.first().json;\nconst articles = input.articles || [];\n\nif (articles.length === 0) {\n  return [{ json: { status: 'no_articles', articles: [], count: 0 } }];\n}\n\nconst seen = new Set();\nconst unique = [];\n\nfor (const article of articles) {\n  const url = article.url;\n  if (url && !seen.has(url)) {\n    seen.add(url);\n    unique.push(article);\n  }\n}\n\nconsole.log(`Deduplicated: ${articles.length} -> ${unique.length} articles`);\n\nreturn [{ json: { articles: unique, count: unique.length } }];"
      },
      "id": "deduplicate",
      "name": "Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMBER_API_URL || 'http://host.docker.internal:3002' }}/api/n8n/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-N8N-API-KEY",
              "value": "={{ $env.EMBER_N8N_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source: 'n8n', workflowId: $workflow.id, articles: $json.articles }) }}"
      },
      "id": "http-ingest",
      "name": "Push to Ember Feed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Return final status\nconst input = $input.first().json;\nconst isError = input.error || input.statusCode >= 400;\n\nif (isError) {\n  return [{ json: { \n    status: 'error', \n    error: input.error || input.message || 'Ingest failed',\n    executionId: $execution.id\n  } }];\n}\n\nreturn [{ json: {\n  status: 'complete',\n  articlesIngested: input.inserted || input.count || 0,\n  executionId: $execution.id\n} }];"
      },
      "id": "complete",
      "name": "Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 300]
    },
    {
      "parameters": {
        "content": "## Feed Collector Workflow (Enhanced)\n\nRuns every 15 minutes to collect articles from multiple feed types.\n\n**Supported Sources:**\n- RSS feeds (direct parse)\n- Substack (via RSSHub)\n- Medium (via RSSHub)\n- Reddit (via RSSHub)\n- Hacker News (via API)\n\n**Flow:**\n1. Get active feeds from Ember Feed API\n2. Route feeds by type\n3. Fetch and parse each source\n4. Normalize to common schema\n5. Deduplicate by URL\n6. Push to Ember Feed database",
        "width": 350,
        "height": 240
      },
      "id": "note-main",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 20]
    },
    {
      "parameters": {
        "content": "**Schedule Trigger**\n\nRuns every 15 minutes. Adjust interval based on feed update frequency.",
        "width": 200,
        "height": 100
      },
      "id": "note-schedule",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 420]
    },
    {
      "parameters": {
        "content": "**Get Feeds**\n\nFetches active feeds from Ember Feed API with their URLs and types.",
        "width": 200,
        "height": 100
      },
      "id": "note-get",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [420, 420]
    },
    {
      "parameters": {
        "content": "**Route by Type**\n\nGroups feeds by source type for appropriate processing (RSS, Substack, etc.)",
        "width": 200,
        "height": 100
      },
      "id": "note-route",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [640, 420]
    },
    {
      "parameters": {
        "content": "**Normalize & Dedupe**\n\nConverts all articles to common schema and removes duplicates by URL.",
        "width": 200,
        "height": 100
      },
      "id": "note-normalize",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1300, 420]
    },
    {
      "parameters": {
        "content": "**Ingest to DB**\n\nPOSTs articles to /api/n8n/ingest. Continues on fail to report errors.",
        "width": 200,
        "height": 100
      },
      "id": "note-ingest",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1740, 420]
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Active Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Feeds": {
      "main": [
        [
          {
            "node": "Route Feeds by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Feeds by Type": {
      "main": [
        [
          {
            "node": "Prepare RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare RSS Feeds": {
      "main": [
        [
          {
            "node": "Fetch RSS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS Data": {
      "main": [
        [
          {
            "node": "Normalize Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Articles": {
      "main": [
        [
          {
            "node": "Deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate": {
      "main": [
        [
          {
            "node": "Push to Ember Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Push to Ember Feed": {
      "main": [
        [
          {
            "node": "Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
